<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>intGame</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.2/axios.min.js"></script>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
    
    <div class="container">

        <div class="gblock">

            <h1> Потрібний INT: <%= rIntValue %></h1>
            <br>
            Достпуні цифри:
            <span> <%= rIntListValue %> </span><button class="plus1">+</button>
            

        </div>

    </div>

    <script>
        // const run = async () = {
        //     const result = await axios.post('./game', {});
        // }
        // run()
    </script>
</body>
</html>